
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Environment files
.env
.env.dev

# JWT keys
/config/jwt/private.pem
/config/jwt/public.pem
